@import '../../../const/const.scss';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.5);

  .modal-wrapper {
    background: #ffffff;
    min-width: 600px;
    max-width: 96%;
    min-height: 300px;
    padding: 70px 40px 50px 50px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;

    @media (max-width: '600px') {
      min-width: unset;
      width: 100%;
      padding: 70px 40px 50px 30px;
    }

    .modal-close-button {
      position: absolute;
      top: 30px;
      right: 35px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      background-image: url('../../../../public/images/icon-cross-black-30x30.png');
      background-size: contain;
    }
    
    .modal-content {
      max-height: 100%;
      padding-right: 10px;
      scrollbar-width: thin;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $bg-grey-superlight-color;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $bg-grey-light-color;
      }
    }
  }
}