.register-form-wrapper {
  width: 90%;
  max-width: 400px;
  flex-grow: 1;
  
  .register-form-content {
    margin-top: 50px;
    
    .register-form-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 15px;
    }
  }
}
