.new-password-form-wrapper {
  width: 90%;
  max-width: 400px;
  flex-grow: 1;

  .new-password-form-content {
    margin-top: 50px;
    
    .new-password-form-title {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 15px;
    }
  }
}

