@import '../../../const/const.scss';

.toast-wrapper {
  width: 100%;
  position: absolute;
  bottom: 50px;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 10000;

  .toast {
    position: relative;
    width: 90%;
    max-width: 600px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 50px;
    background-color: $wrong-color;

    .toast-close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      height: 20px;
      width: 20px;
      background-image: url('../../../../public/images/icon-cross-white-30x30.png');
      background-size: contain;
      cursor: pointer;
    }

    .toast-message {
      color: #ffffff;
      font-size: 18px;
      text-align: center;
    }
  }
}